@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* React Flow styles */
.react-flow__node {
  font-size: 12px;
}

.react-flow__handle {
  width: 8px;
  height: 8px;
}

.react-flow__edge-path {
  stroke: #64748b;
  stroke-width: 2;
}